:root {
  --main-omutatsu-color: #ffcccc;
  --sub-omutatsu-color: #ff9999;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* index.html 用 */
html.index-page,
body.index-page {
  background-color: var(--main-omutatsu-color);
}

body {
  min-width: 350px;
}
